{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    {% block header %}
    <h1> Detail </h1>
    {% endblock %}
    <title> The detailed info </title>
</head>

<body>
    {% block content %}
    <div>
        <p>*** The detail info***</p>
        <p> Title: {{ file_tup[1] }}</p>
        <p> Created Time: {{ file_tup[2] }}</p>
        <p> Category Id: {{ file_tup[3] }}</p>
        <p> Content: {{ file_tup[4] }}</p>
    </div>
    {% endblock %}
</body>
</html>



