{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    {% block header %}
    <h1> Detail</h1>
    {% endblock %}
    <title> The detailed Info </title>
</head>

<body>
    {% block content %}
    <div>    
        <p>***The detail info: *** </p>
        <p> Title: {{ file_dict.title }} </p>
        <p> Created_time: {{ file_dict.created_time }} </p>
        <p> Content: </p>
        {% for list in file_dict.content %}
            <p>{{ list }}</p>
        {% endfor %}
        <p> {{ '*' * 30 }} </p>
    </div>
    {% endblock %}
</body>
</html>
